.contenedor {

    display: flex;

}

.imagen {
    width: 450px;
    height: 350px;
}


.te {
  
    color:white
}

.table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-image:url('gif3.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
   
  }
    
  .titulof {
    color:rgb(36, 156, 12);
    border-bottom: 6px solid rgb(15, 12, 165);
    height: 40px;
    width: 450px;
    text-align: center;
    font-family:'Courier New', Courier, monospace
  }

  .titulod {
    color:rgb(207, 18, 18);
    border-bottom: 6px solid rgb(10, 179, 164);
    height: 40px;
    width: 450px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

    
.cancion {
  color:rgb(36, 156, 12);
  border-bottom: 6px solid rgb(15, 12, 165);
  height: 40px;
  width: 600px;
  text-align: center;
  font-family:'Courier New', Courier, monospace
}

  body {
 
  }

  